

body {
	background-color: #ffffff; 	
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
	padding:0px; 
	padding-right:0px; 	
	padding-left:0px; 	
    
}
body div {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
}
.pageFooter {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #666666;    
    background-position: 0 0;
    background-repeat: repeat;
    clear: both; 
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 2px;
    text-align: center;   
    font-family: Arial, Times New Roman, Verdana; 
	color: #ffffff; 
	font-size: 10pt	
}
.white_content {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: #3399CC;
    border-bottom-style: solid;
    border-bottom-width: 0; 
    border-left-color: #3399CC;
    border-left-style: solid;
    border-left-width: 1px; 
    border-right-color: #3399CC;
    border-right-style: solid;
    border-right-width: 1px; 
    border-top-color: #3399CC;
    border-top-style: solid;
    border-top-width: 0;
    display: block;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;
    padding-top: 0px;
}
#navigation
{
	-moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #3399CC;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
	height:35px;
	font-family: arial;	   
}
#navigation ul
{
	float: left;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 5px;
}
#navigation ul li{display:inline; height: 25px; list-style:none; float:left;}
#navigation ul li.last{ background: none;}
#navigation li a{font-weight: bold; color:white; text-decoration: none; text-indent:10px;  display:block; padding:5px 7px 5px 7px;}
#navigation li a:hover{color:#00B9F1; background-color:White;}
#navigation li ul{ display:none;}
#navigation ul li ul li{ display: block; background:#00B9F1; float:none; border-top:1px solid white; margin-bottom:-3px}
#navigation ul li:hover ul, #navigation ul li:focus ul{ position:absolute; display:block;}


td.imgHeader_left
{
	width:100%;
	height: 104px;
	background-image: url(/Images/banner_left.png);	   
	background-repeat:no-repeat;  	
    margin-left:10px; 
    
}
td.imgHeader_right
{
	width:auto ;
	height: auto;   
	background-color: white; 
}
th {
	background-color: #c0cad6; 
	color: #880000; 
	font-family: Arial, Times New Roman, Verdana; 
	font-size: 11pt; 
	font-weight: bold; 
	padding-top: 2; 
	margin: 0px
}
td 
{     	 	
	font-family: Arial, Times New Roman, Verdana; 
	font-size: 10pt
}
select {
	border-top: #b0b0b0 1px solid; 
	border-right: #b0b0b0 1px solid; 
	border-bottom: #b0b0b0 1px solid; 
	border-left: #b0b0b0 1px solid; 
	font-family: Arial, Times New Roman, Verdana; 
	color: #000080; 
	font-size: 10pt
}
textarea {
	border-top: #5d5d5d 1px solid; 
	border-right: #5d5d5d 1px solid; 
	border-bottom: #5d5d5d 1px solid; 
	border-left: #5d5d5d 1px solid; 
	font-family: Arial, Times New Roman, Verdana; 
	color: #000080; 
	font-size: 10pt
}
a {
	color: inherit;
	text-decoration: none;
	font-size: 10pt	
}
a: visited {
	color:  Teal; 
	text-decoration: none;
	font-size: 10pt
}
a: link {
	color: #AA0080; 
	text-decoration: none;
	font-size: 10pt
}
a: active {
	color: #000088; 
	text-decoration: none;
	font-size: 10pt
}
a: hover {
	color:  Yellow; 
	text-decoration: none;
	font-size: 10pt
}
.login_form_box {
    background: url("/images/login_form_new.png") no-repeat scroll 0 0 transparent;
    height: auto !important;
    margin: 0;
    min-height: 331px;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    width: 395px;
}

.login_t
{
	width:400px;
	height:20px;
	background: url(/images/login_t.jpg) no-repeat top left;
}

.login_c
{
	padding:0px 50px;
	background: url(/images/login_c.jpg);
	background-repeat:repeat-y;
}

.login_bt
{
	height:20px;
	background: url(/images/login_bt.jpg) no-repeat bottom left;
}

.lbTitle
{	
	font-family: Arial, Times New Roman, Verdana; 
	font-weight:bold ;
	color: white; 
	font-size: 14pt
}
.lbLable
{	
	font-family: Arial, Times New Roman, Verdana; 
	color: black; 
	font-size: 12pt
}
.lbTextbox 
{
	border-top: #5d5d5d 1px solid; 
	border-right: #5d5d5d 1px solid; 
	border-bottom: #5d5d5d 1px solid; 
	border-left: #5d5d5d 1px solid; 
	font-family: Arial, Times New Roman, Verdana; 
	color: #000080; 
	font-size: 10pt
}
.lblbox 
{
	font-family: Arial, Times New Roman, Verdana; 
	color: #000080; 
	font-size: 10pt;
    font-weight: bold;
    text-align:center ;
    vertical-align: middle       
}
.lbRadio 
{    
    border-bottom-style:none;
    border-left-style: none;
	font-family: Arial, Times New Roman, Verdana;
	color: #000080; 
	font-size: 10pt	
}
.lbCheckbox {
	font-family: Arial, Times New Roman, Verdana;
	color: #000080;
	font-size: 10pt;
	vertical-align: top;    
}
.lbButton 
{	
	background-repeat: no-repeat;
	white-space: nowrap;
	display: block;	
	margin: 0px;
	padding: 4px;
}
.lbButton span
{	
	padding-right: 0px;
	padding-left: 0px;
	left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	cursor: pointer;
	padding-top: 0px;
	padding: 4px;
	position: absolute;	
	text-align: center;
}
.lbLinkFunction {
	font-family:  Arial,Verdana, Times New Roman;
	font-size: 10pt;		
	text-decoration: none
}
.cssLogin
{
	padding-right :10px;
	font-family :Arial;
	font-size:9pt;
	color:inherit;
	font-weight :bold ;
}

.cssLogin a
{
	text-decoration:none;
	font-family :Arial;
	font-size:9pt;
	color:inherit;
	font-weight :bold ;
}

.cssLogin a:hover
{
	text-decoration:underline;
	font-family :Arial;
	font-size:9pt;
	color:Yellow ;
	font-weight :bold ;
}
/*GridViewCSS Soft Grey Style*/
.GridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
    border:solid 0px #91a7b4;
}
/*Header and Pager styles*/
.HeaderStyle, .PagerStyle /*Common Styles*/
{
    background-image: url(Images/YahooSprite.gif);
    background-position:top;
    background-repeat:repeat-x;
    background-color:#d1dbe0;    
    border:solid 0px #91a7b4;
}
.HeaderStyle td
{
    padding: 2px;
    color: #16387c;
    font-weight:bold;    
    font-size:12px; 
     border: solid 1px #91a7b4;
}
.HeaderStyle th
{
    padding: 2px;
    color: #16387c;
    font-weight:bold;    
    font-size:12px; 
    text-align:center;
     border: solid 1px #91a7b4;
}
.HeaderStyle a
{
    text-decoration:none;
    color:#16387c;
    display:block;
    text-align:left;
    font-weight:normal;    
     border: solid 1px #91a7b4;
}
.PagerStyle table
{
    text-align:center;
    margin:auto;
}
.PagerStyle table td
{
    border:0px;
    padding:5px;
}
.PagerStyle td
{
    border-top: #91a7b4 1px solid;
}
.PagerStyle a
{
    color:#16387c;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    border-top:solid 1px #91a7b4;
    border-right:solid 1px #91a7b4;
    border-bottom:solid 1px #91a7b4;
    border-left:solid 1px #91a7b4;
}
.PagerStyle span
{
    font-weight:bold;
    color:#16387c;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}
/*RowStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
    padding: 2px;
    border: solid 1px #91a7b4;
    font-size:12px; 
}
.RowStyle td
{
    background-color: #f1f5f6;
}
.AltRowStyle td
{
    background-color: #9ab2ca;
	background-color:white;
    background-position:0 -80px;
    background-repeat:repeat-x;
}
.SelectedRowStyle td
{
    background-color: #fcb814;
	background-image: url(Images/YahooSprite.gif);
    background-position:center;
    background-repeat:repeat-x;
}
.SubTotalRowStyle{
    border:solid 1px Black;
    background-color:#F5A9BC;
    font-weight:bold;
    vertical-align:central ;
}
.GrandTotalRowStyle{
    border:solid 1px Black;  
    background-color:Gray;
    font-weight:bold;
}
    .GroupHeaderStyle{
    border:solid 1px Black;
    background-color:#81BEF7;
    font-weight:bold;
}
.sn_pin .sn_pinD {
}
.News_boder {    
	border-bottom-color: #E4E4E4;
    border-bottom-style: solid;
    border-bottom-width: 8px;    
    border-top-color: #E4E4E4;
    border-top-style: solid;
    border-top-width: 8px;
    border-left-color: #E4E4E4;
    border-left-style: solid;
    border-left-width: 8px;
    border-right-color: #E4E4E4;
    border-right-style: solid;
    border-right-width: 8px;
}
.cssTitle
{
	font-size:14pt;
	font-weight:bold;
}
.cssDescription
{
	font-size:14pt;
	font-style:italic;
}
 .rounded_corners
    {
        border: 1px solid #A1DCF2;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        overflow: hidden;
    }
    .rounded_corners td, .rounded_corners th
    {
        border: 1px solid #A1DCF2;
        font-family: Arial;
        font-size: 10pt;
        text-align: center;
    }
    .rounded_corners table table td
    {
        border-style: none;
    }

    #bottom{

    position: absolute; bottom: 0px; 
}

    .views-field-created{
/*	width:56px;
	height: 56px;*/
	background:#e74c3c;
	padding:5px 5px;
	text-align:center;
	color:#FFFFFF;
	margin-right:10px;
	float:left;
	display:block;
	font-weight: 700;
}
.field-content-day{
	font-size: 20px;
	display: block;
}

.field-content-month{
	font-size: 12px;
	display: block;
	font-weight: 400;
}

.responsive {
  width: 100%; 
  height: auto;
}